node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
backend/.env
backend/coverage/
backend/node_modules/
backend/package-lock.json
backend/public/
package-lock.json
# macOS
.DS_Store